* {
	box-sizing: border-box;
	font-family: 'B612 Mono', monospace;
}
body {
	background-color: #ddd;
	/*height: 100vh;*/
	margin: 0;
	transition-duration: 2s;
}
.container {
	/*height: 100vh;*/
}
h1 {
	display: flex;
	align-self: center;
	justify-content: center;
	font-size: 60px;
	margin: 0;
	padding-top: 30px;
	width: 100%;
}
h1 span {
	font-size: 20px;
}
#spanP {
	font-size: 30px;
}
#span3 {
	font-size: 20px;
	vertical-align: top;
}
.icon {
	border: 1px dotted black;
	border-radius: 3px;
	padding: 20px;
	margin-left: 15px;
	box-shadow: 2px 5px 10px;
	background-color: black;
	color: white;
}
.hide {
	margin-bottom: 25px;	
}
.wrapper {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-content: stretch;
	padding: 20px;
	margin-bottom: 30px;
	align-items: center;
	height: auto;
}
.btnDiv {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.btnDiv button {
	margin-top: 20px;
	width: 110px;
}
.inputDiv{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	padding-top: 15px;
}
.inputDiv input {
	width: 28vw;
}
.newWrapper {
	border: 1px solid black;
	margin: 40px 0;
	padding: 0px;
	transition-duration: .5s;
	background-color: lightgrey;
}
.newWrapper:hover {
	background-color: grey;
}
.newWrapper:hover .new {
	background-color: grey;
	transition-duration: 1s;
	filter: blur(0);
}
.newWrapper .edit {
	opacity: 1;
	transition-duration: .7s;
}
.newWrapper:hover .edit {
	cursor: pointer;
	opacity: .4;
}
.newWrapper:hover .divHead {
	visibility: hidden;
	opacity: 0;
	padding: 0;
}
.viewing {
	transform: scale(1.4);
}
.divHead {
	/*margin: 0;*/
	transition-duration: 1s;
	margin-top: -38px;
	padding: 0;
}
.divHeadSpan {
	font-size: 13px;
}
.new {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
	width: 60vw;
	/*fix for the "edit" button relatively positioned*/
	margin-bottom: -22px;
	filter: blur(8px);
}
.edit {
	width: 50px;
	position: relative;
	top: -80px;
	left: 36%;
}
.edit:hover .new {
	opacity: .2;
}
.editWrapper {
	display: none;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	margin: 15px 10px;
	padding: 10px;
	position: absolute;
	left: 33.5vw;
	width: auto;
}
.editWrapper input {
	width: 27vw;
	height: 33px;
}
.editModal {
	display: flex;
}
.editModal button {
	margin-top: 10px;
}
.submitEdit {
	margin-left: auto;
}
.editModal input {
	display: block;
}
.editModal label {
	display: inline;
}

.newWrapper .delete {
	opacity: 1;
	transition-duration: .7s;
}
.newWrapper:hover .delete {
	cursor: pointer;
	opacity: .4;
}
.delete {
	width: 55px;
	position: relative;
	top: -80px;
	left: 44%;
	background-color: transparent;
	border: none;
}
.deleteModal {
	display: none;
	background-color: blue;
}
footer {
text-align: center;
margin-top: 80px;
}
.material-icons.md-55 {
	font-size: 55px;
}
									/*animations*/
.animateOut {
	animation-name: transformers;
	animation-duration: .5s;
}
@keyframes transformers {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}
.animateIn {
	animation-name: fadeUp;
	animation-duration: .5s;
}
@keyframes fadeUp {
	0% {
		transform: scale(0);
	}
	10% {
		transform: rotate(180deg);
	}
	100% {
		transform: scale(1);
	}
}
.animateBackIn {
	animation-name: transformerIn;
	animation-duration: .5s;
}
@keyframes transformerIn {
	0% {
		transform: scale(3);
		opacity: 7;
		border-radius: 80%;
	}
	10% {
		transform: rotate(180deg);
	}
	80% {
		transform: scale(.9);
	}
	100% {
		transform: scale(1);
		opacity: 1;
		border-radius: 2px;
	}
}
.modalWrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	border: 1px solid black;
	display: none;
	padding-top: 30px;
	background-color: rgba(100, 100, 100, .3);
	background-repeat: no-repeat;
	background-size: cover;
}
.modal {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	width: 280px;
	background-color: rgb(100, 100, 100);
	margin: 60px auto 0;
}
.modal input {
	margin-top: 13px;
	height: 30px;
	width: 280px;
}
.modal label {
	padding-top: 10px;
	height: 20px;
}
.modalButtons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: 10px;
	padding: 10px 5px;
}
.modalSubmit {
	margin-right: 20px;
}
.modalCancel {
	margin-left: 20px;
}
.confDiv {
	position: relative;
	top: -100px;
	left: 0;
	background-color: lightgrey;
	border: 2px solid black;
	padding: 15px;
}
.deleteModal {
	background-color: rgb(100, 100, 100);
	vertical-align: middle;
	text-align: center;
	border: 3px solid blue;
	height: 100px;
	width: 280px;
	position: fixed;
	top: 100px;
	left: 580px;
	color: white;
}
.duplicateModal {
	background-color: rgb(100, 100, 100);
	vertical-align: middle;
	text-align: center;
	border: 3px solid black;
	width: 50%;
	min-height: auto;
	max-height: 70vh;
	position: fixed;
	top: 150px;
	left: 340px;
	color: white;
	/*display: none;*/
	flex-direction: column;
	overflow: auto;
}
.duplicateModal h3 {
	position: sticky;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0;
}
.duplicateDiv {
	background-color: white;
	color: black;
	border: 1px solid black;
}
.duplicateDiv:hover {
	border: 2px solid red;
	cursor: pointer;
	background-color: lightgrey;
	/*box-shadow:  35px 40px 44px 1px;*/
}
